version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: anchor-api-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "8000:80"
#     depends_on:
#       - db

#   db:
#     image: mysql:8.0
#     container_name: anchor-api-db
#     restart: unless-stopped
#     environment:
#       MYSQL_ROOT_PASSWORD: root123
#       MYSQL_DATABASE: anchor_api
#       MYSQL_USER: anchor
#       MYSQL_PASSWORD: secret123
#     ports:
#       - "3306:3306"
#     volumes:
#       - db_data:/var/lib/mysql

# volumes:
#   db_data:
